div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#ImagePostuplenieFonNiz2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerOsnova2
{
   background-color: transparent;
   background-image: none;
}
#ImagePostuplenieFonNiz
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImagePostuplenieFonVerh
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#ImageLogoGU
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#PostupiMenu_1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#PostupiMenu_2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#PostupiMenu_3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#PostupiMenu_0
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#LayerKartaObvodka
{
   background-color: transparent;
   background-image: none;
   border: 10px solid #00BFFF;
   border-radius: 5px;
}
#LayerSsylka2Postupi
{
   background-color: transparent;
   background-image: none;
}
#LayerSsylka3Postupi
{
   background-color: transparent;
   background-image: none;
}
#LayerPostupiMenu_0
{
   background-color: transparent;
   background-image: none;
}
#LayerPostupiMenu_1
{
   background-color: transparent;
   background-image: none;
}
#LayerPostupiMenu_2
{
   background-color: transparent;
   background-image: none;
}
#LayerPostupiMenu_3
{
   background-color: transparent;
   background-image: none;
}
#Line1Post
{
   border-color: #00BFFF;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line2Post
{
   border-color: #00BFFF;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line3Post
{
   border-color: #00BFFF;
   border-style: solid;
   border-bottom-width: 5px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
